<div class="title-bar brand-bar align-center-sm">
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                {% if this.theme.website_url and this.theme.brand_bar_logo %}
                    {% set image = this.theme.brand_bar_logo|media %}
                {% else %}
                    {% set image = 'assets/images/logo-text-only-white.svg'|theme %}
                {% endif %}
                <a href="{{ this.theme.website_url }}" target="_blank">
                    <img class="alt-logo" src="{{ image }}" alt="{{ this.theme.website_name }}">
                </a>
                <div class="tag-line">{{ this.theme.tag_line }}</div>
            </div>
            <div class="col-sm-4">                
                {% if this.theme.website_url %}
                    <p>{{ this.theme.website_url }}</p>
                {% endif %}
                
                {% if this.theme.phone or this.theme.address %}
                    <small>
                        {% if this.theme.phone %}
                            {{ this.theme.phone }}<br/>
                        {% endif %}
                        {{ this.theme.address }}
                    </small>
                {% endif %}
            </div>
        </div>
    </div>
</div>
