<nav class="navbar navbar-{{this.theme.navbar_style }} {{ this.theme.navbar_type }}">
    <div class="container">
        <div class="grid">
            <div class="grid__row header-height align-center">
                <div class="grid__item">
                    {% placeholder navbar_left %}
                </div>
                <div class="grid__item">
                    {% if this.theme.navbar_logo %}
                        {% set image = this.theme.navbar_logo|media %}
                    {% else %}
                        {% set image = 'assets/images/logo.svg'|theme %}
                    {% endif %}
                    <a href="{{ 'home'|page }}">
                        <img class="navbar-logo" src="{{ image }}" alt="{{ this.theme.website_name }}">
                    </a>
                </div>
                <div class="grid__item">
                    {% placeholder navbar_right %}
                </div>
            </div>
        </div>
    </div>
</nav>
