<div class="panel panel-default {{ class }}">
    <div class="panel-body">
        <div class="align-center"><i class="fa fa-{{ icon }} fa-2x"></i></div>
        <h3>{{ title|raw }}</h3>
        <p>{{ content|raw }}</p>
    </div>
</div>