<div class="title-bar align-center">
    <div class="container">
        {% if placeholder('title_bar_title') %}
            <p class="text-u-c">
                {% placeholder title_bar_title %}
            </p>
        {% endif %}

        {% if placeholder('title_bar_headline') %}
            <h1 class="text-u-c animation-slide-bottom animation-delay-base">
                {% placeholder title_bar_headline %}
            </h1>
        {% endif %}

        {% placeholder title_bar_body %}
    </div>
</div>
