/**
 * {less} Animations
 *
 * Keyframe animations & animation classes
 * @package Devinci Theme
 * _animation.less
 */
@media screen {
  [data-spy-scrollspy*='animation-'] { opacity:0; }
}
.animation-properties, [class*='animation-'] { animation-duration:@time-slow; animation-timing-function:ease-out; animation-fill-mode:both; }


/**
 * Fade
 *
 * Higher specificity (!important) needed because of reverse modifier
 * @subpackage _animation.less
 */
.animation-fade         { animation-name:fade; }
.animation-fade-70      { animation-name:fade-70; }
.animation-flicker      { animation-name:flicker; }
.animation-scale-up     { animation-name:fade-scale-02; }
.animation-scale-down   { animation-name:fade-scale-18; }
.animation-scale-out    { animation-name:fade-scale-1; }
.animation-slide-top    { animation-name:fade-top; }
.animation-slide-bottom { animation-name:fade-bottom; }
.animation-slide-left   { animation-name:fade-left; }
.animation-slide-right  { animation-name:fade-right; }


/**
 * Scale
 *
 * @subpackage _animation.less
 */
.animation-scale { animation-name:scale-12; }


/**
 * Shake
 *
 * @subpackage _animation.less
 */
.animation-shake { animation-name:shake; }


/**
 * Reverse animation
 *
 * @subpackage _animation.less
 */
.animation-reverse { animation-direction:reverse; animation-timing-function:ease-out; }


/**
 * Duration modifiers
 *
 * @subpackage _animation.less
 */
.animation-10 { animation-duration:10s; }
.animation-20 { animation-duration:20s; }

/**
 * Delay modifiers
 *
 * @subpackage _animation.less
 */
.animation-delay-fast { animation-duration: .34s; }
.animation-delay-base { animation-duration: .67s; }
.animation-delay-slow { animation-duration:  1s; }

/**
 * Loop
 *
 * @subpackage _animation.less
 */
.animation-loop { animation-iteration-count:infinite; animation-timing-function:linear; }


/**
 * Origin modifiers
 *
 * @subpackage _animation.less
 */
.animation-top-left      { transform-origin:0 0; }
.animation-top-center    { transform-origin:50% 0; }
.animation-top-right     { transform-origin:100% 0; }
.animation-middle-left   { transform-origin:0 50%; }
.animation-middle-right  { transform-origin:100% 50%; }
.animation-bottom-left   { transform-origin:0 100%; }
.animation-bottom-center { transform-origin:50% 100%; }
.animation-bottom-right  { transform-origin:100% 100%; }

/**
 * Masthead inverse colors keyframes
 *
 * @subpackage _animation.less
 */
@keyframes masthead-inverse {
  0%, 50%, 100% { background-color:@gray-dark; }
  25%      { background-color:darken(@blue, 20%); }
  75%      { background-color:darken(@orange, 20%); }
}


/**
 * Flicker keyframes
 *
 * @subpackage _animation.less
 */
@keyframes flicker {
  0%, 100% { background-position:0 0; opacity:1; }
  50% { background-position:100% 0; opacity:1; }
  100% {  opacity:1; }
  90% { opacity:1; }
  12%, 70%  { opacity:.7; }
  22% { opacity:.85; }
  30% { opacity:.8; }
  60% { opacity:.65; }
}

/**
 * Fade to 70% keyframes
 *
 * @subpackage _animation.less
 */
@keyframes fade-70 {
  0% { opacity:0; }
  100% { opacity:.7; }
}


/**
 * Fade keyframes
 *
 * Used by dropdown, datepicker and slideshow component
 * @subpackage _animation.less
 */
@keyframes fade {
  0% { opacity:0; }
  100% { opacity:1; }
}

@keyframes fade-top {
  0%   { opacity:0; transform:translateY(-100%); }
  100% { opacity:1; transform:translateY(0); }
}

@keyframes fade-bottom {
  0%   { opacity:0; transform:translateY(100%); }
  100% { opacity:1; transform:translateY(0); }
}

@keyframes fade-left {
  0%   { opacity:0; transform:translateX(-100%); }
  100% { opacity:1; transform:translateX(0); }
}

@keyframes fade-right {
  0%   { opacity:0; transform:translateX(100%); }
  100% { opacity:1; transform:translateX(0); }
}


/**
 * Scale keyframes
 *
 * @subpackage _animation.less
 */
@keyframes fade-scale-02 {
  0%   { opacity:0; transform:scale(0.2); }
  100% { opacity:1; transform:scale(1); }
}

@keyframes fade-scale-1 {
  0%   { opacity:1; transform:scale(1); }
  100% { opacity:0; transform:scale(0); }
}

@keyframes fade-scale-15 {
  0%   { opacity:0; transform:scale(1.5); }
  100% { opacity:1; transform:scale(1); }
}

@keyframes fade-scale-18 {
  0%   { opacity:0; transform:scale(1.8); }
  100% { opacity:1; transform:scale(1); }
}


/**
 * Slide keyframes
 *
 * @subpackage _animation.less
 */
@keyframes slide-left {
  0%   { transform:translateX(-100%); }
  100% { transform:translateX(0); }
}

@keyframes slide-right {
  0%   { transform:translateX(100%); }
  100% { transform:translateX(0); }
}

@keyframes slide-left-33 {
  0%   { transform:translateX(33%); }
  100% { transform:translateX(0); }
}

@keyframes slide-right-33 {
  0%   { transform:translateX(-33%); }
  100% { transform:translateX(0); }
}


/**
 * Scale down keyframes
 *
 * @subpackage _animation.less
 */
@keyframes scale-12 {
  0%   { transform:scale(1.2); }
  100% { transform:scale(1); }
}


/**
 * Scale rotate
 *
 * @subpackage _animation.less
 */
@keyframes rotate {
  0%   { transform:rotate(0deg); }
  100% { transform:rotate(359deg); }
}

@keyframes rotate-out {
  0%   { transform:rotate(0deg); }
  100% { transform:rotate(-359deg); }
}


/**
 * Shake keyframes
 *
 * @subpackage _animation.less
 */
@keyframes shake {
  0%, 100% { transform:translateX(0); }
  10%      { transform:translateX(-9px); }
  20%      { transform:translateX(8px); }
  30%      { transform:translateX(-7px); }
  40%      { transform:translateX(6px); }
  50%      { transform:translateX(-5px); }
  60%      { transform:translateX(4px); }
  70%      { transform:translateX(-3px); }
  80%      { transform:translateX(2px); }
  90%      { transform:translateX(-1px); }
}


/**
 * Fade with slide fixed keyframes
 *
 * @subpackage _animation.less
 */
@keyframes slide-top-fixed {
  0%   { opacity:0; transform:translateY(-10px); }
  100% { opacity:1; transform:translateY(0); }
}

@keyframes slide-bottom-fixed {
  0%   { opacity:0; transform:translateY(10px); }
  100% { opacity:1; transform:translateY(0); }
}
