/**
 * {less} Assets
 *
 * @package Devinci Theme
 * Reusable site assets
 * Assets also gets pulled into the wysiwyg editor
 * _assets.less
 */


::selection { color:@blue; background:fade(@orange, 10%); }
*:active, *:focus, *:focus:hover { outline:none; }


/**
 * Elements
 *
 * @subpackage  _assets.less
 */
p { margin: 0 0 ceil(@line-height-computed / 1.4); }
b, strong { font-weight:@font-weight-bold; }
a { transition:color @time-base; }


/**
 * Font styles
 *
 * @subpackage  _assets.less
 */
.inline-block { display:inline-block !important; }
.separator {
  @media(@sm-min) { display:inline-block; font-weight:@font-weight-base; padding:0 1px; }
}

.text-u-c { text-transform: uppercase; }
.text-l-c { text-transform: lowercase; }
.text-sm { font-size: @font-size-small; }
.text-lg { font-size: @font-size-large; }

/**
 * Colors
 *
 * @subpackage  _assets.less
 */
.text-black  { color:@black; }
.text-blue   { color:@blue; }
.text-gray   { color:@gray; }
.text-red    { color:@red; }
.text-orange { color:@orange; }
.text-white  { color:@white; }


/**
 * SVG Fills
 *
 * @subpackage  _assets.less
 */
.svg {
  .orange { fill:@orange; }
  .blue   { fill:@blue; }
  .white  { fill:@white; }
  .gray   { fill:@gray-dark; }
}

/**
 * Background colors
 *
 * @subpackage  _assets.less
 */
.bg-gray-darker   { background-color: @gray-darker; }
.bg-gray-dark     { background-color: @gray-dark; }
.bg-gray          { background-color: @gray; }
.bg-gray-light    { background-color: @gray-light; }
.bg-gray-lighter  { background-color: @gray-lighter; }
.bg-brand-primary { background-color: @brand-primary; }
.bg-brand-success { background-color: @brand-success; }
.bg-brand-info    { background-color: @brand-info; }
.bg-brand-warning { background-color: @brand-warning; }
.bg-brand-danger  { background-color: @brand-danger; }
.bg-blue          { background-color: @blue; }
.bg-orange        { background-color: @orange; }
.bg-gray          { background-color: @gray; }
.bg-well          { background-color: @well-bg; }
.bg-white         { background-color: @white; }


/**
 * Alignment & adjustments
 *
 * @subpackage  _assets.less
 */
.align-center { text-align: center; }
.align-left   { text-align: left; }
.align-right  { text-align: right; }
.align-middle { vertical-align:middle; }
.align-top    { vertical-align:top; }
.align-bottom { vertical-align:bottom; }
.no-margin    { margin:0; }
.margin-base  { margin-bottom:@padding-base; }
.margin-lg    { margin-bottom:@padding-lg; }
.full-height  { height:100%; }
.transparent  { .opacity(0); }

.align-center-xs { @media(@xs-max) { text-align: center; } }
.align-center-sm { @media(@sm-max) { text-align: center; } }


/**
 * Images
 *
 * @subpackage  _assets.less
 */
.img-brand {
    background-image:url(../images/em.png);
    background-position:50% 46%;
    background-repeat:no-repeat;
    background-size:24%;
    background-color:@gray-lighter;
}


/**
 * Containers
 *
 * @subpackage  _assets.less
 */
.container-xs-height { .equalize-columns(@xs-min); }
.content-cell { .container; display:table-cell; height:100%; vertical-align:middle; }
.container-xs { .container-fluid; max-width:@screen-xs-min - 2; }
.container-sm { .container-fluid; max-width:@screen-sm-min - 2; }
.container-md { .container-fluid; max-width:@screen-md-min - 2; }
.contain-row  { .container;
  [class^="col-"], [class*=" col-"] { padding-left:0; padding-right:0; }
}


/**
 * Buttons
 *
 * @subpackage  _assets.less
 */
.btn-sm-block {
    display:block;
    @media(@sm-min) { display:inline-block; }
}

.btn {
    text-transform: uppercase;
    transition: color @time-base, background-color @time-base, border-color @time-base;
    &, &:hover, &:active, &:focus, &:focus:active {
        outline: 0;
    }
    &.btn-wide {
        padding: @padding-sm @padding-lg;
        i.fa { margin-left: @padding-base; margin-right: -@padding-sm; }
    }
}

.btn-blue {
    .button-variant(@white; @blue; @white);
}

/**
 * Padding and Margin
 *
 * @subpackage  _assets.less
 */
.padder { .padding-sides(); }
.padder-xs { .padding-sides(@padding-xs); }
.padder-sm { .padding-sides(@padding-sm); }
.padder-lg { .padding-sides(@padding-lg); }
.padder-xl { .padding-sides(@padding-xl); }

.padder-v { .padding-caps(); }
.padder-v-xs { .padding-caps(@padding-xs); }
.padder-v-sm { .padding-caps(@padding-sm); }
.padder-v-lg { .padding-caps(@padding-lg); }
.padder-v-xl { .padding-caps(@padding-xl); }

.wrapper { padding: @padding-base; }
.wrapper-xs { padding: @padding-xs; }
.wrapper-sm { padding: @padding-sm; }
.wrapper-lg { padding: @padding-lg; }
.wrapper-xl { padding: @padding-xl; }

.m-n { margin: 0; }
.m-t { margin-top: @padding-base; }
.m-t-xs { margin-top: @padding-xs; }
.m-t-sm { margin-top: @padding-sm; }
.m-t-lg { margin-top: @padding-lg; }
.m-t-xl { margin-top: @padding-xl; }

.m-b { margin-bottom: @padding-base; }
.m-b-xs { margin-bottom: @padding-xs; }
.m-b-sm { margin-bottom: @padding-sm; }
.m-b-lg { margin-bottom: @padding-lg; }
.m-b-xl { margin-bottom: @padding-xl; }

.m-r { margin-right: @padding-base; }
.m-r-xs { margin-right: @padding-xs; }
.m-r-sm { margin-right: @padding-sm; }
.m-r-lg { margin-right: @padding-lg; }
.m-r-xl { margin-right: @padding-xl; }

.m-l { margin-left: @padding-base; }
.m-l-xs { margin-left: @padding-xs; }
.m-l-sm { margin-left: @padding-sm; }
.m-l-lg { margin-left: @padding-lg; }
.m-l-xl { margin-left: @padding-xl; }

.p-n { padding: 0; }
.p-t { padding-top: @padding-base; }
.p-t-xs { padding-top: @padding-xs; }
.p-t-sm { padding-top: @padding-sm; }
.p-t-lg { padding-top: @padding-lg; }
.p-t-xl { padding-top: @padding-xl; }

.p-b { padding-bottom: @padding-base; }
.p-b-xs { padding-bottom: @padding-xs; }
.p-b-sm { padding-bottom: @padding-sm; }
.p-b-lg { padding-bottom: @padding-lg; }
.p-b-xl { padding-bottom: @padding-xl; }

.p-r { padding-right: @padding-base; }
.p-r-xs { padding-right: @padding-xs; }
.p-r-sm { padding-right: @padding-sm; }
.p-r-lg { padding-right: @padding-lg; }
.p-r-xl { padding-right: @padding-xl; }

.p-l { padding-left: @padding-base; }
.p-l-xs { padding-left: @padding-xs; }
.p-l-sm { padding-left: @padding-sm; }
.p-l-lg { padding-left: @padding-lg; }
.p-l-xl { padding-left: @padding-xl; }
