/**
 * {less} _blocks.less
 *
 * Reusable blocks of markup
 * @package Devinci Theme
 */

// Navbar toggle
.navbar-toggle {
    .icon-bar {
        border-radius: 0;
        position: relative;
        transition: all @time-base ease-in-out;
        &:nth-of-type(1) {
            top: 0px;
        }
        &:nth-of-type(2) {
            top: 1px;
        }
        &:nth-of-type(3) {
            top: 2px;
        }
    }

    &.active {
        .icon-bar {
            &:nth-of-type(1) {
                top: 6px;
                transform: rotate(45deg);
            }
            &:nth-of-type(2) {
                background-color: @transparent;
            }
            &:nth-of-type(3) {
                top: -6px;
                transform: rotate(-45deg);
            }
        }
    }

    &:not(.active):hover {
        .icon-bar {
            &:nth-of-type(1) {
                top: -2px;
            }
            &:nth-of-type(3) {
                top: 4px;
            }
        }
    }
}

/**
 * Title Bar
 */
.title-bar {
    color: @white;
    padding: @padding-xl 0;

    h1 {
        margin: 0 0 @padding-lg;
        padding: 0;
    }
}

/**
 * Alerts
 *
 * @subpackage _blocks.less
 */
.alert {
    &.alert-absolute {
        @media (@sm-min) {
            left: 0;
            position: absolute;
            right: 0;
        }
        small {
            display: block;
            @media (@sm-min) {
                display: inline;
            }
        }
    }
    &.alert-fixed {
        bottom: @padding-xs;
        position: fixed;
        right: @padding-xs;
        z-index: @zindex-navbar-fixed;
    }
}

/**
 * Pagination
 *
 * @subpackage _blocks.less
 */
.paging-navigation {
    border-top: 2px solid @gray-lighter;
    margin: @padding-xl 0;
    text-align: center;
    .pagination {
        line-height: 1;
        margin: -@padding-xs+4 auto 0 auto;
        text-transform: uppercase;
        > a, > span {
            border-top: 2px solid transparent;
            display: inline-block;
            font-size: @font-size-small;
            margin-right: 1px;
            padding: @padding-sm (@padding-xs - 2);
            @media (@sm-min) {
                padding: @padding-sm;
            }
            &.current {
                color: @text-color;
                border-color: @gray;
                font-weight: 700;
            }
        }
        a {
            transition: color @time-base, border @time-base;
            &:hover {
                border-top-color: @blue;
            }
        }
    }
}

/**
 * Breadcrumbs
 *
 * @subpackage _blocks.less
 */
.breadcrumb {
    text-transform: uppercase;
    &.breadcrumb-sm {
        font-size: @font-size-small;
        line-height: @line-height-small;
    }
    > li {
        + li:before {
            color: lighten(@gray-light, 20%);
        }
    }
}

// List box
.list-box {
    li {
        background-color: @orange;
        color: @white;
        padding: @padding-sm;
        a {
            color: @white;
        }
        .date-badge {
            background-color: transparent;
            border: 2px solid @white;
        }
    }
}

// List striped
.list-striped {
    .list-unstyled;
    li {
        background-color: @transparent;
        border-top: 1px solid fade(@black, 10%);
        cursor: pointer;
        transition: all @time-base;
        &:nth-child(odd) {
            background-color: fade(@well-bg, 40%);
        }
        a {
            display: block;
            color: @text-color;
            padding: @padding-xs @padding-sm;
            &:hover {
                color: @black;
            }
        }
        &:hover {
            background-color: fade(@well-bg, 80%);
        }
        &.active {
            a {
                background-color: fade(@orange, 20%);
            }
        }
    }
}

/**
 * Forms
 *
 * @subpackage _blocks.less
 */
// Forms
form {
    .form-group {
        margin-bottom: (@padding-xs + 2);
    }
    > label.error {
        margin-top: -@padding-sm;
    }
    label {
        color: @gray-light;
        font-weight: 200;
        text-transform: uppercase;
    }
    label.error {
        .bg-danger;
        float: none;
        font-size: 11px;
        font-weight: 300;
        margin: 0;
        padding: @padding-xs (@padding-xs - 2);
        width: auto;
    }
    .error:not(label) {
        border-color: @brand-danger;
        .clearfix();
    }

    .form-group.partial-field,
    .form-group.radio-field {
        > label {
            text-transform: none;
        }
    }
}

// Form controls
.form-control {
    box-shadow: none;
    transition: all @time-base;
    &::placeholder {
        transition: color @time-base;
    }
    &:hover {
        background-color: @gray-lighter;
        border: 1px solid darken(@gray-lighter, 15%);
        color: @text-color;

        &::placeholder {
            color: @text-color;
        }
    }
    &:focus {
        background-color: @white;
        border: 1px dashed darken(@gray-lighter, 15%);
        color: @gray;
    }
    &:focus, &:hover:focus {
        box-shadow: none;
        &::placeholder {
            color: @gray;
        }
    }
}

// Form search
.form-search {
    .has-feedback {
        width: 100%;
        position: relative;
        .form-control {
            border: none;
            line-height: 22px;
            padding-bottom: 0;
            padding-top: 0;
        }
        .form-control-feedback {
            background: transparent;
            border: 0;
            color: @white;
            position: absolute;
            right: 0;
            z-index: 2;
            &:hover {
                color: @blue;
                transition: @base-transition;
            }
        }
    }
}

/**
 * Table classes
 *
 * @subpackage _blocks.less
 */
.table {
    height: 100%;
    display: table;
    margin-bottom: 0;
}

.table-row {
    display: table-row;
}

.table-cell {
    display: table-cell;
    float: none;
    vertical-align: middle;
}

/**
 * Modal
 *
 * @subpackage _blocks.less
 */
.modal {

    // Header
    .modal-header {
        background: @brand-secondary;
        overflow: hidden;
        text-transform: uppercase;
    }

    // Body
    .modal-body {
        background: @gray-lighter;
    }

    // Footer
    .modal-footer {
        text-align: left;
        p {
            float: left;
            margin: 0;
        }
    }

}

/**
 * Thumbnails
 *
 * @package _blocks.less
 */
.thumbnail {
    @media (@sm-min) {
        margin-bottom: 0;
        border: 0;
    }
    img {
        @media (@sm-max) {
            border: 1px solid @thumbnail-border;
        }
    }
    .caption {
        font-style: normal;
    }
}


.brand-bar {
    small {
        line-height: 1;
    }
}

/**
 * BLOCKQUOTE
 */
blockquote {
    border-left: none;
}

/* Insert the pseudo element - replicating what FontAwesome does */
blockquote:before {
    content: "\f10d"; 
    font-family: FontAwesome;
    float: left;
    margin-right: 10px;
}




