/**
 * {less} Structure
 *
 * @package Devinci Theme
 * _structure.less
 */

html {
    overflow-x: hidden;
    @media (@sm-min) {
        overflow-x: auto;
    }
}

html, body {
    font-weight: @font-weight-base;
    @media (@sm-min) {
        font-size: @font-size-base;
    }
}

@media(@sm-min) {
    .navbar > .container .navbar-brand { margin-left: auto; }
}

body {
    cursor: default;
    overflow-x: hidden;
    padding-top: @navbar-height;

    &.modal-open {
        overflow: hidden;
    }

    h1, .h1 {
        font-size: 38px;
    }

    .lead {
        font-weight: 100;
    }

    @media (@sm-max) {
        font-size: (@font-size-base - 2.5);
        h1, .h1 {
            font-size: floor(((@font-size-base - 4) * 2.6));
        }

        h2, .h2 {
            font-size: floor(((@font-size-base - 5) * 2.15));
        }

        h3, .h3 {
            font-size: floor(((@font-size-base - 4) * 1.7));
        }

        h4, .h4 {
            font-size: floor(((@font-size-base - 4) * 1.25));
        }

        h5, .h5 {
            font-size: @font-size-base - 1;
        }

        h6, .h6 {
            font-size: floor(((@font-size-base - 1) * 0.85));
        }
    }

    /**
     * Global footer
     *
     * @subpackage _structure.less
     */
    .footer {
        background-color: @gray-light;
        color: @gray-lighter;
        font-family: @font-family-serif;
        font-size: @font-size-small;
        margin-bottom: (@padding-xs + (@nav-icon-padding*2));
        text-align: center;

        @media (@sm-min) {
            margin-bottom: 0;
            text-align: left;
        }

        .container {
            .equalize-columns();
        }

        .col-brand {
            .make-xs-column(12);
            .make-sm-column(6);
            .make-sm-column-pull(6);
            .make-md-column(8);
            .make-md-column-pull(4);
        }

        .col-info {
            .make-xs-column(12);
            .make-sm-column(6);
            .make-sm-column-push(6);
            .make-md-column(4);
            .make-md-column-push(8);
        }

        .col-brand {
            display: none;

            @media (@sm-min) {
                display: block;
            }

            a {
                display: inline-block;
                .enjoy-your-agency {
                    .size(73px, round(73px / @svg-enjoy-ratio));

                    @media (@sm-min) {
                        .size(126px, round(126px / @svg-enjoy-ratio));
                    }

                    &, path {
                        fill: @gray-light;
                        transition: all @time-base;
                    }
                }
                &:hover {
                    .enjoy-your-agency, path {
                        fill: @gray;
                    }
                }
            }
        }

        .col-info {
            background-color: lighten(@gray-light, 15%);
            text-transform: lowercase;
            padding-bottom: @grid-gutter-width/2;
            padding-top: @grid-gutter-width/2;

            a {
                color: @gray-lighter;

                &:hover {
                    color: @white;
                }
            }

            address {
                margin: 0;
            }

            .nav {
                margin-left: -@grid-gutter-width/2;
                margin-right: -@grid-gutter-width/2;
                width: auto;
            }
        }

        .copyright {
            .clearfix();
            background-color: @body-bg;
            color: @text-color;
            font-size: @font-size-small - 1;

            > div {
                padding-bottom: @grid-gutter-width/2;
                padding-top: @grid-gutter-width/2;

                @media (@sm-min) {
                    padding-bottom: @padding-xs;
                    padding-top: @padding-xs;
                }
            }
        }
    }
}

.brand-logo {
    max-height: @logo-max-height;
}

.grid__row {
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid__item {
    flex: 1;
}

.flex-grow-1 {
    .flex-grow(1);
}
.flex-grow-2 {
    .flex-grow(2);
}
.flex-grow-3 {
    .flex-grow(3);
}
.flex-grow-4 {
    .flex-grow(4);
}



.header-height { height: @navbar-height - 1; }
