description = "Default layout"
==
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{ this.theme.website_name|default('Devinci') }} - {{ this.page.title }}</title>
    <meta name="description" content="{{ this.page.meta_description }}">
    <meta name="title" content="{{ this.page.meta_title }}">
    <meta name="author" content="Devinci">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="generator" content="OctoberCMS">
    <title>{{ this.page.title }}</title>
    {% styles %}
    
    {% partial 'styles' %}

    <link href="{{ [
        'assets/less/app.less'
    ]|theme }}" rel="stylesheet">
    <link href="{{ 'assets/images/favicon.png'|theme }}" rel="shortcut icon" type="image/x-icon">
</head>

<body class="{{ this.page.layout }}">

    {% partial 'navbar' %}

    {% partial 'title-bar' %}

    <div class="container">
        {% page %}
    </div>
    
    {% if this.theme.show_brand_bar %}
        {% partial 'brand-bar' %}
    {% endif %}
    
    {% partial 'copyright' %}

    <script src="{{ [
        'assets/js/jquery.js',

        'assets/vendor/bootstrap/js/transition.js',
        'assets/vendor/bootstrap/js/dropdown.js',
        'assets/vendor/bootstrap/js/modal.js',
        'assets/vendor/bootstrap/js/tooltip.js',
        'assets/vendor/bootstrap/js/popover.js',

        '@framework',
        '@framework.extras',

        'assets/js/app.js']|theme }}"></script>

    {% scripts %}
</body>
</html>
