title = "Code is Art"
url = "/"
layout = "default"
is_hidden = 0
==
{% put title_bar_headline %}
    Let's do some <b>dev</b>.
{% endput %}

{% put title_bar_body %}
    We're <b>not bad</b> at figuring shit out.
{% endput %}

<div class="padder-v-lg">
    <h3 class="h1">Here's the gripping message where we tell you about what we do.</h3>
    <p class="lead">We'll back that up with a little <b>punchline to follow</b>.</p>
    <p>Now we're in the real meat of it - where we really let our hair down and help you feel at ease but eager to move forward. We've got you now, you're engaged. You can't help it and there's no way you aren't going to scroll down further and dig deeper. Look at you salivating, craving more thoughtful information!</p>
    <p>The best part - <b>it's only, like, the second paragraph.</b></p>
</div>

<h2 class="align-center feature-headline m-b-lg text-u-c">Featured Buckets</h2>

<div class="row">
    <div class="col-sm-4">
        {% partial 'panel' 
            icon='users' 
            title='A clever line about people, specifically users.'
            content='People, puppies, making interfaces fun to use, and other things like that.'
        %}
    </div>
    <div class="col-sm-4">
        {% partial 'panel' 
            icon='heart text-red' 
            title='Amazing bit of copy about loving something!'
            content='Here\'s where we affirm the love, go a level deeper, and tug on your heart strings.'
        %}
    </div>
    <div class="col-sm-4">
        {% partial 'panel' 
            icon='code' 
            title='Probably some endearing message about <code>code</code>.'
            content='This is where we show you we are human, no matter how technical.'
        %}
    </div>
</div>

<hr>

<h2 class="align-center feature-headline m-b-lg text-u-c">What folks are saying</h2>


{% partial 'blockquote' 
    quote="Yep, we even threw in a blockquote..."
    author="Ricky Bobby"
    source="The other day, he said this"
%}